on:
  push:
    branches: ["*"]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "*.md"    

name: Linting
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: Lint
        run: make lint
